
        Welcome <%= username %> 
        <div style="display: flex;gap: 2rem;align-items: center;">
            <button onclick="logout()">Logout</button>
            <img src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png" width="30" height="30" alt="user profile" onclick="userProfile('<%= username %>')">    
        </div>
       