<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="changePassword.css">
</head>
<body>
    <div class="container">
        <p>The password has to be </p>
        <ul>
            <li>Minimum 8 characters long</li>
            <li>One Uppercase letter atleast</li>
            <li>One Lowercase letter atleast</li>
            <li>One number</li>

           
            
        </ul>
        <input type="password" style="display: block; width: 100%;border: none;border-bottom:1px solid black;margin-bottom: 5px;" placeholder="New Password">
        <input type="password" style="display: block;width: 100%; border: none;border-bottom:1px solid black;margin-bottom: 15px;" placeholder="Confirm Password">
        <div class="result"></div>
        <button onclick="updatePassword()" style="padding:10px;background-color: orange; color: white; border: none; border-radius: 2px;">Update</button>
    </div>
   <script>
    let result=document.getElementsByClassName("result")[0];
    function updatePassword(){
       let first=document.getElementsByTagName("input")[0];
       let second=document.getElementsByTagName("input")[1];
       console.log(first.value,second.value);
       if(first.value==second.value&&first.value!=''){
           let request=new XMLHttpRequest()
           request.open('POST','updatePassword');
           request.setRequestHeader("Content-Type","application/json");
           request.send(JSON.stringify({first:first.value}));
           request.addEventListener("load",function(){
                result.innerHTML=this.responseText;
                window.location="http://localhost:5000/products"
           })
       }
       else {
        result.innerHTML="Password and Confirm Password did not match";
           setTimeout(function(){
               result.innerHTML=''
           },2000)
       }
    }
   </script>
</body>
</html>