<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
            <!-- <button onclick="signup()">SignUp</button> -->
            <div class="container">
                <h3>Grab</h3>
                <div>
                    <button onclick="login()">Login</button>
                    <button onclick="seller()">Seller</button>
                </div>

            </div>
          


            <script>

                function signup(){
                    window.location.href="http://localhost:5000/signup";
                }
                function login(){
                    window.location.href="http://localhost:5000/login";
                }
                function seller(){
                    window.location.href="http://localhost:5000/seller/sellerLogin";
                }
            </script>
</body>
</html>