<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="contain">
        This is the login page
        <form action="/login" method="post">
            <input type="text" placeholder="UserName" name="username" style="display: block;" >
            <input type="password" name="password" style="display: block;" placeholder="Password">
            <input type="submit" id="submit" value="LogIn">
            <a href="/forgotPassword">Forgot Password</a>
        </form>
        <% if(error!=''){%>
            <div class="container"> <p style="color:red;"><%= error %> </p></div>
             <% } %>

        <p>New to Grab? <a href="/signup">Create Account</a></p>
    </div>
   


   
    <script>
       setTimeout(function(){
        console.log(document.getElementsByClassName("container")[0])
        document.getElementsByClassName("container")[0].innerHTML=''
       },2000);
    </script>
</body>
</html>