<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <link rel="stylesheet" href="products.css">
</head>

<body>
    <div class="center">
        <div class="innerContainer">
            <div class="element1">
               
                <img src="" alt="image">
            </div>
            <div class="element2">
                <div class="mainDescription">
                        Adding the description
                </div>
                <div class="ratings">
                    hello ratings
                </div>
                <div class="description">

                </div>
                <table id="table">
                    <tr>
                        <td>Warranty</td>
                        <td>nothing</td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td>nothing</td>
                    </tr>
                     <tr>
                        <td>RAM</td>
                        <td>hy</td>
                    </tr>
                   
                </table>
            </div>

        </div>
    </div>
    <div class="header">
        <%- include('partials/header',{user:username});  %>
    </div>
   
   
     <div class="container" >
       
     </div>
     <div class="button" style="width: 80vw; margin: 1rem auto;">
        <button onclick="fetchMoreProducts()" style="padding:0.5rem 0.8rem; background-color: blue;color:white;margin-left: 35px;">Fetch More</button>
     </div>
   
     <script>
        let element1=document.getElementsByClassName("element1")[0]
        let mainDescription=document.getElementsByClassName("mainDescription")[0]
        let ratings=document.getElementsByClassName("ratings")[0]
        let description=document.getElementsByClassName("description")[0]
        let table=document.getElementById("table")




        let productsArray=[];
        let container=document.getElementsByClassName("container")[0];
        function fetchMoreProducts(){
            let request=new XMLHttpRequest();
            request.open('post','/fetchMoreProducts')
            request.send();

            request.addEventListener('load',function(){
                console.log(this.responseText)
                loadMoreData(JSON.parse(this.responseText))
            })
        }
        function adminPanel(){
               window.location='http://localhost:5000/adminPanel';
        }
        function loadMoreData(arr){
                 copyData(arr);
                 console.log("printing the products array")
                 console.log(productsArray);
                arr.forEach(function(value){
                    let element=document.createElement("div");
                    element.style.boxShadow="0 0 10px black"
                    element.style.padding='0.2rem'
                    element.style.width="70%"
                    element.style.margin="0 auto"
                  //  element.style.backgroundColor="#aaa";
                    let heading=document.createElement("h2");
                    heading.style.textAlign="center"
                    let image=document.createElement("img");
                   // image.style.width='90%'
                    image.style.height='35vh';
                    image.style.margin="0 auto";
                    let innerDiv=document.createElement("div");
                    let btn=document.createElement("button");
                    let btn2=document.createElement("button")
                    btn.style.padding="0.5rem 0.8rem";
                    btn.style.backgroundColor='blue';
                    btn.style.color="white"
                    btn2.style.padding="0.5rem 0.8rem";
                    btn2.style.backgroundColor='blue';
                    btn2.style.color="white"
                    btn.style.margin="0.2rem";
                    btn2.style.margin="0.2rem"

                    // btn.style.display="block"
                    // btn.style.margin="0 auto"
                    btn2.innerHTML="Add To Cart"
                    btn.innerHTML="Details";
                    btn2.setAttribute("onclick",`addToCart("${value.id}")`)
                    innerDiv.appendChild(btn)
                    innerDiv.appendChild(btn2)
                    innerDiv.style.display="flex"
                    innerDiv.style.justifyContent="space-between"
                    
                    btn.setAttribute("onclick",`addDescription("${value.id}")`);
                    element.setAttribute("id",`${value.id}`)
                    image.setAttribute("src",value.image);
                    image.style.display="block";
                    heading.innerHTML=value.name
                    element.appendChild(image)
                 //   element.appendChild(heading);
                    
                    element.appendChild(innerDiv);
                    container.appendChild(element)
                })
        }
        function userProfile(val){
           window.location="http://localhost:5000/changePassword";
        }
        function addDescription(val){
            let center =document.getElementsByClassName("center")[0];
            center.style.display="block";
            center.setAttribute("onclick","hideTheScreen()");
            let index;
            for(let i=0;i<productsArray.length;i++){
                if(productsArray[i].id==val){
                    index=i;
                }
            }
            let ele=productsArray[index].description[0];
            mainDescription.innerHTML=ele.descMain;
            ratings.innerHTML=ele.Rating
            description.innerHTML=ele.description
            let image=element1.children[0];
            image.setAttribute("src",`${productsArray[index].image}`)
            let tableElement=table.children;
            console.log(tableElement)
            tableElement[0].children[0].children[1].innerHTML=ele.warranty;
            tableElement[0].children[1].children[1].innerHTML=ele.color;
            tableElement[0].children[2].children[1].innerHTML=ele.RAM;

            console.log(tableElement[0].children[0].children[1].innerHTML)
            // let div=document.createElement("div");
            // div.setAttribute("class","center")
            // div.innerHTML='Your history will show up here. Not seeing what you expected? Try logging out and back in.'
            // document.body.appendChild(div);
            // let element=document.getElementById(val);
            // let desc=productsArray[index].description;
            // let descEle=document.createElement("p");
            // console.log(element);
            // descEle.innerHTML=desc;
            // element.insertBefore(descEle,element.children[1]);
            // console.log(element.children[2].children[0])
            // element.children[2].children[0].innerHTML="Read Less";
            // element.children[2].children[0].setAttribute("onclick",`removeDescription(${val})`);
            // console.log(desc);
            // console.log(element.children);
        }
        function hideTheScreen(){
            let center=document.getElementsByClassName("center")[0];
            center.style.display="none";
        }
        function copyData(val){
            val.forEach(function(value){
                productsArray.push(value);
            })
        }
        function removeDescription(val){
            let element=document.getElementById(val);
            element.children[1].remove();
            element.children[1].children[0].innerHTML="Details";
            element.children[1].children[0].setAttribute("onclick",`addDescription(${val})`);
        }
        fetchMoreProducts();

        function addToCart(val){
                console.log(val)
                let request=new XMLHttpRequest();
                request.open('POST','/addToCart')
                request.setRequestHeader("Content-Type","application/json");
                request.send(JSON.stringify({id:val}));
                request.addEventListener("load",function(){
                    if(request.status==200){
                        console.log("hello");
                    }
                })
        }
        function logout(){
            window.location="http://localhost:5000/logout"
        }
        function showOrders(){
            window.location='http://localhost:5000/showOrders'
        }

        function displayCart(){
           window.location="http://localhost:5000/displayCart"
        }
     </script>
</body>
</html>