<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="result.css">
</head>
<body>
    <div class="container">
        <%- include('partials/header',{user:username});  %>
    </div>
    <div class="contain">
        This is the Result page of the website
    </div>
    <script>
        function userProfile(val){
           window.location="http://localhost:3000/changePassword";
        }
        function logout(){
            window.location="http://localhost:3000/logout"
        }
    </script>
   

</body>
</html>