.contain {
   
    width: 30%;
    height: 55%;
    border-radius: 1rem;
    /* background-image: url('loginWallpaper.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;  */
    background-color: white;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    box-shadow: 0 0 10px black;
    
}
body {
    /* background-image: url("https://media.istockphoto.com/id/1059156958/photo/pure-feelings.jpg?s=1024x1024&w=is&k=20&c=fDzMLNxXbBRBbrywwBXd3pxVWaZ-POTKLBODHIvL_sc=");
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover; */
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
     background-position: center center;
    /* background-position: center; */
    display: flex;
    background-color: white;
    overflow: hidden;
   
    justify-content: center;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    
    gap: 1.2rem;
    width:70%;
}
#submit {
    width: fit-content;
    margin: 0 auto;
    padding: 0.7rem 1rem;
    background-color: #363D57;
    border-radius: 5px;;
    color: white;
    border:none;
}
form input {
    font-size: 16px;
    padding:0.2rem;
    /* border: none;
    border-bottom: 1px solid black; */
}
p{
    font-size:16px;
    color: green;
}
p a {
    color: green;
}
